<style>

/*The following affects the style of the headers and basic HTML elements*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Corben', Georgia, Times, serif;
}

h1 { 
    text-shadow: 1px 1px 1px #ccc;
}

p, div{
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  color: white;
}

body{
  /*margin: 0;*/
  color: white;
  background: url("/css/images/better background.jpg") repeat 0 0;
}

table, th, td{
  border: 1px solid black;
}

th, td {
  padding: 15px;
}

/*This affects the individual sections of HTML*/

#header {
    /*font-family: 'RieslingRegular', Arial, sans-serif;*/
    /*Background color was black*/
    background-color:#f1f1f1;
    /*color:#00cccc;*/
    
    /*color:#c1e4f0;*/
    text-align:center;
    padding:5px;
}

#nav {
    position: absolute;
    font-size: 18px;
    line-height:30px;
    background-color:black;
    color:#c1e4f0;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}

#section {
    /*font-family: 'RieslingRegular', Arial, sans-serif;*/
    font-size: 18px;
    color:#c1e4f0;
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    /*font-family: 'RieslingRegular', Arial, sans-serif;*/
    font-size: 18px;
    background-color:black;
    color:#c1e4f0;
    clear:both;
    text-align:center;
    padding:5px;
}

/*The navigation bar is taken out to try out this new style- these represent 
the new classes being used and their respective attributes*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #00cccc;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.nav li {
  display: inline;
}

/*Not neccessary
.nav a{
}
*/

.nav{
  position: absolute;
}

/* No idea if this will pin down the nav bar*/
#pull-right{
   #headerWrapper {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: auto;
 }
}

</style>
